body{
    justify-items: center;
    text-align: center;
    font-family: Calibri Light;
}



.area-wrapper{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#area{
    margin-left: 35%;
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}

.square{
    display: inline-flex;
    width: 150px;
    height: 150px;
    border: 1px solid;
    box-sizing: border-box;
    font-size: 60px;
    align-items: center;
    justify-content: center;
}

#A1{
    position: absolute;
}

#A2{
    position: absolute;
    margin-left:150px;
}

#A3{
    position: absolute;
    margin-left:300px;
}

#B1{
    margin-top:150px;
    position: absolute;
}

#B2{
    margin-top:150px;
    margin-left:150px;
    position: absolute;
}

#B3{
    margin-top:150px;
    margin-left:300px;
    position: absolute;
}

#C1{
    margin-top:300px;
    position: absolute;
}

#C2{
    margin-top:300px;
    margin-left:150px;
    position: absolute;
}

#C3{
    margin-top:300px;
    margin-left:300px;
    position: absolute;
}



